				<%= ajax_will_paginate @servicios %>
					<div class="row">
				    	<% @servicios.each do |servicio| %>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					        	<div class="contact-box content-servicio">
					        		<div class="col-sm-4">
					                    <div class="text-center">
					                        <img alt="image" class=" m-t-xs img-responsive" src="<%= image_url 'landing/default_servicio.png' %>">
					                    </div>
					                </div>
					                <div class="col-sm-8">
					                <h3><strong><%= servicio.nombre %></strong></h3>
				                	<p class="m-t-xs font-bold">Ver Disponibilidad: 
				                	<%= link_to "", '#modal-' + servicio.id.to_s, class: "fa fa-calendar-check-o fa-2x", style: "padding: 8px; margin-left: 10px;", data: {toggle: "modal"}, type: "button" %></p>
						            <div id="<%= "modal-" + servicio.id.to_s %>" class="modal fade in" aria-hidden="true">
		                                <div class="modal-dialog">
		                                    <div class="modal-content">
										      	<div class="modal-header">
										        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										        	<h4 class="modal-title text-blue-dark"><%= servicio.especialidad.nombre %> - <%= servicio.nombre %></h4>
										      	</div>
		                                        <div class="modal-body">
		                                            <div class="row">
		                                                <div class="col-sm-3 b-r">
										                	<div class="text-center">
										                    	<img alt="image" class="m-t-xs img-responsive" src="<%= image_url 'landing/default_servicio.png' %>" style="width: 120px; margin: 0px auto;">
										               		</div>
					                						<div class="m-t-xs font-bold">
					                							<p class="text-blue-dark" style="font-size:14px;">
					                							<%= servicio.nombre %></p>
					                						</div>
		                                                </div>
		                                                <div class="col-sm-9">
		                                                	<h3 class="text-blue-dark">Horario de Atencion</h3>

		                                                	<table class="tabla-horarios table table-bordered table-hover" width="100%">
		                                                		<thead>
		                                                			<tr>
		                                                				<th style="width:10%;" class="text-center">Turno</th>
		                                                				<th style="width:18%;" class="text-center">Lunes</th>
		                                                				<th style="width:18%;" class="text-center">Martes</th>
		                                                				<th style="width:18%;" class="text-center">Miercoles</th>
		                                                				<th style="width:18%;" class="text-center">Jueves</th>
		                                                				<th style="width:18%;" class="text-center">Viernes</th>
		                                                			</tr>
		                                                		</thead>
		                                                		<tbody>
		                                                			<tr>
		                                                				<td class= "text-center text-blue-dark">Mañana</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                			</tr>
		                                                			<tr>
		                                                				<td class= "text-center text-blue-dark">Tarde</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                				<td class= "text-center">00:00 - 00:00</td>
		                                                			</tr>
		                                                		</tbody>
		                                                	</table>
		                                            	</div>
		                                        	</div>
		                                        	<div class="row" style="margin-top: 20px;">
		                                        		<div class="col-sm-4">
					                						<div class="m-t-xs font-bold">
					                							<p style="font-size:14px;"><strong class="text-blue-dark">Nro. de Pacientes (Por Turno):</strong> 20</p>
					                						</div>
		                                        		</div>
		                                        		<div class="col-sm-4">
		                                        		</div>
		                                        		<div class="col-sm-4">
					                						<div class="m-t-xs font-bold text-center">
					                							
			  													<%= link_to "Solicita una Cita", '#', class: "btn btn-lg btn-dark-blue", type: "button" %>
					                						</div>
		                                        		</div>
		                                        	</div>
		                                    	</div>
		                                    </div>
		                                </div>
		                        	</div>
				  					<%= link_to "Solicita una Cita", '#', class: "btn btn-lg btn-dark-blue", type: "button" %>
					                </div>
					                <div class="clearfix"></div>
					          	</div>
					        </div>
				    	<% end %>
				    </div>
    			<%= ajax_will_paginate @servicios %>
