<div class="content-servicio-background" style="background: transparent url('<%= image_path('carousel/alice-fondo-consulta-medica.jpg') %>')  50% 0 no-repeat; background-size: cover;">
	<div class="container">
		<div class="content-title">
		  	<h2 class="title-section"><%= @especialidad.categoria_servicio.nombre %></h2>
		  	<h3 class="title-section"><%= @especialidad.nombre %></h3>
		</div>
	</div>	
</div>

<div class="row">
  	<div class="col-sidebar col-lg-2 col-md-2 col-sm-12">
		<%= render 'layouts/sidebar-servicios' %>  				
  	</div>
  	<div class="col-content col-lg-10 col-md-10 col-sm-12">
		<section id="especialidades" class="white-section">
		  	<div class="container">
		  		
				<%= render 'servicios'%>
		  	</div>
		</section>	
  	</div>
</div>
