<section id="noticias" class="blog gray-section">    
    <section id="categoria" class="white-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h2>Categorias: </h2>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <% @categorias.each do |categoria| %>
                        <div class="col-sm-3 text-center" style="margin: 10px 0px;">
                            <%= link_to categoria["descripcion"], noticias_path(id: categoria["id"]), class: "btn btn-dark-blue btn-lg" %>
                        </div>
                        <% end %>   
                    </div>
                </div>
            </div>        
        </div>
    </section>
    <div class="container">
        <div class="row">
            <% @noticias.each do |noticia| %>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="noticia ibox">
                    <div class="ibox-content">
                    <h2><%= link_to noticia['titulo'], noticias_leer_path(id: noticia["id"]), class: "btn-link" %></h2> 
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i><%= noticia['created_at'] %></span>
                        </div>
                        <p><%= noticia["descripcion"] %></p>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <% @cat = HTTParty.get(@url+'tipo_noticias/'+noticia["tipo_noticia_id"].to_s+'.json') %>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button"><%= @cat['descripcion'] %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
           
        </div>
    </div>

</section>