<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
        <li data-target="#inSlider" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Consulta Medica</h3>
                    <p class="carousel-subtitle">Atención personalizada y Diagnosticos Precisos</p>
                    <p class="carousel-link-content">
                        <a class="btn btn-lg btn-primary" href="#" role="button">Buscar</a>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Solicita una Cita</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img width="300" height="300" src="<%= image_path('carousel/alice-consulta-medica-estetoscopio.png') %>" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back" style="background: transparent url('<%= image_path('carousel/alice-fondo-consulta-medica.jpg') %>')  50% 0 no-repeat; background-size: cover;"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Laboratorio</h3>
                    <p class="carousel-subtitle">Tecnología de avanzada para resultados en menos tiempo</p>
                    <p class="carousel-link-content">
                        <a class="btn btn-lg btn-primary" href="#" role="button">Buscar</a>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Solicita una Cita</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img width="300" height="300" src="<%= image_path('carousel/alice-cita-laboratorio-estetoscopio.png') %>" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back"style="background: transparent url('<%= image_path('carousel/alice-fondo-laboratorio.jpg') %>')  50% 0 no-repeat; background-size: cover;"></div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Imagenología</h3>
                    <p class="carousel-subtitle">Equipamiento de Primera y el mejor servicio</p>
                    <p class="carousel-link-content">
                        <a class="btn btn-lg btn-primary" href="#" role="button">Buscar</a>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Solicita una Cita</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img width="300" height="300" src="<%= image_path('carousel/alice-cita-imagenologia-tomografo.png') %>" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back"style="background: transparent url('<%= image_path('carousel/alice-fondo-imagenologia.jpg') %>')  50% 0 no-repeat; background-size: cover;"></div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<section id="noticias-stikers" class="white-section">
    <div class="nt-title-container">
        <div class="container">
            <div class="row">
                <div class="col-title-noticias col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <h3 class="title-noticias">Noticias:</h3>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                    <ul id="tira-noticias" class="nt-title newsticker">
                        
                        <% @response.each do |single| %>
                            <li><a href="#"><i class="fa fa-"></i><%= single['id'] %></a></li>
                            
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="servicios-cliente" class="white-section">
    <div class="container">
        <h2 class="title-section">Que Ofrece Alice</h2>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="content-servicio">
                    <h3 class="text-white text-center">Consultar Cita</h3>
                    <p class="text-white">Chequea el estatus de tu cita en la comodidad de tu hogar.</p>
                    <form id="form-consulta">
                        <input type="text" placeholder="Numero de Cita" class="form-control">
                        <button class="btn btn-info" type="submit">Consultar</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="content-servicio">
                    <h3 class="text-white text-center">¿Quieres saber mas de nosotros?</h3>
                    <p class="text-white">Enterate de las novedades en nuestros servicios y noticias</p>
                    <form id="form-suscripcion">
                        <input type="email" placeholder="Correo Electronico" class="form-control">
                        <button class="btn btn-info" type="submit">Afiliate</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="tabs-container" style="height:300px !important">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-facebook">Facebook</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-twitter">Twitter</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-facebook" class="tab-pane active">
                             <div class="panel-body">
                                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
                            </div>
                        </div>
                        <div id="tab-twitter" class="tab-pane">
                            <div class="panel-body">
                                <a class="twitter-timeline" data-lang="es" data-width="240" data-height="300" href="https://twitter.com/Twitter">Tweets by Twitter</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="oferta-eventos" class="white-section">
    <div class="container">
        <div class="row">
            <h2 class="title-section">Eventos Recientes</h2>
            <div class="col-lg-10 col-lg-offset-1">
                <div class="slick-eventos">
                    <div>
                        <div class="ibox-content">
                            <a href="#">
                                <div class="content-image-slick">
                                    <img class="image-slick" src="<%= image_url 'carousel/alice-cita-laboratorio-estetoscopio.png' %>">    
                                </div>
                            
                                <h3>Slide 1</h3>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content">
                            <a href="#">
                                <div class="content-image-slick">
                                    <img class="image-slick" src="<%= image_url 'carousel/alice-cita-laboratorio-estetoscopio.png' %>">    
                                </div>
                            
                                <h3>Slide 2</h3>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content">
                            <a href="#">
                                <div class="content-image-slick">
                                    <img class="image-slick" src="<%= image_url 'carousel/alice-cita-laboratorio-estetoscopio.png' %>">    
                                </div>
                            
                                <h3>Slide 3</h3>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content">
                            <a href="#">
                                <div class="content-image-slick">
                                    <img class="image-slick" src="<%= image_url 'carousel/alice-cita-laboratorio-estetoscopio.png' %>">    
                                </div>
                            
                                <h3>Slide 4</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% content_for :javascript do %>
    <script type="text/javascript">

        $(function() {

            $(".select-box").select2({
                placeholder: "Seleccione un Servicio",
                allowClear: true
            });

            $('.newsticker').newsTicker({
                row_height: 46,
                max_rows: 1,
                speed: 600,
                direction: 'up',
                duration: 4000,
                autostart: 1,
                pauseOnHover: 0
            });

            $('.slick-eventos').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                centerMode: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        });

    </script>
<% end %>