<div class="content-evento-background" style="background: transparent url('<%= image_path('cita/solicitar-cita.jpg') %>')  50% 15% no-repeat; background-size: cover;">
  <div class="container">
    <div class="content-title">
         <h2 class="title-section">Eventos</h2>
    </div>
  </div>  
</div>
<section id="eventos" class="blog gray-section">    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>One morning, when Gregor Samsa</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 28th Oct 2015</span>
                        </div>
                        <p>English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                          <h2>It showed a lady fitted out with</h2>
                          <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 11th May 2015</span>
                        </div>
                        <p>
                            The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of.
                        </p>
                        <p>
                            No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences
                        </p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>The bedding was hardly able to cover</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 11th Dec 2014</span>
                        </div>
                        <p>A collection of textile samples lay spread out on the table - Samsa was a travelling salesman.</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>Junk MTV quiz graced by fox whelps.</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 07 Apr 2015</span>
                        </div>
                        <p>Alex Trebek's fun TV quiz game. Woven silk pyjamas exchanged for blue quartz. Brawny gods just zebra, and my wolves quack! Blowzy red vixens fight for a quick.</p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the.</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>Two driven jocks help fax my big</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 14th Oct 2015</span>
                        </div>
                        <p>Flummoxed by job, kvetching W. zaps Iraq. Cozy sphinx waves quart jug of bad milk. A very bad quack might jinx zippy fowls. Few quips galvanized</p>
                        <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls.</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>I feel the presence of the Almighty</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 04 Dec 2015</span>
                        </div>
                        <p>I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath
                            Gregor then turned to look out the window at the dull weather.</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>The European languages are members</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 04 Jan 2015</span>
                        </div>
                        <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>The new common language</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 14th Oct 2015</span>
                        </div>
                        <p>English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web</p>
                        <p>The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <a href="#" class="btn-link">
                            <h2>Their pronunciation and their most</h2>
                            <img src="<%= image_path('cita/solicitar-cita.jpg') %>">
                        </a>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> 11th Oct 2015</span>
                        </div>
                        <p>To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses</p>
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btsn-xs" style="padding: 0px 20px;" type="button">Model</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
