<div class="content-evento-background" style="background: transparent url('<%= image_path('cita/solicitar-cita.jpg') %>')  50% 15% no-repeat; background-size: cover;">
  <div class="container">
    <div class="content-title">
         <h2 class="title-section">Eventos</h2>
    </div>
  </div>  
</div>
<section id="eventos" class="blog gray-section">    
    <div class="container">
        <div class="row">
        <% @eventos.each do |evento| %>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="evento ibox">
                    <div class="ibox-content">
                        <%= link_to eventos_ver_path(slug: evento["slug"]) do %>
                            <h2 class= "btn-link"><%= evento['descripcion']%></h2>
                            <img class="img-responsive" src="<%= @url + evento["foto_url"]%>">
                        <% end %>
                        <div class="small m-b-xs">
                            <span class="text-muted"><i class="fa fa-clock-o"></i><%= evento['created_at'] %></span>
                        </div>
                        <p>English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web</p>
                        
                        <div class="row row-tipo-evento">
                            <div class="col-md-12">
                            <% @cat = HTTParty.get(@url+'tipo_eventos/'+evento["tipo_evento_id"].to_s+'.json') %>
                                <h5>Categoria:</h5>
                                <button class="btn btn-dark-blue btn-xs" style="padding: 0px 20px;" type="button"><%= @cat['descripcion'] %></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% end %> 
        </div>
    </div>
</section>
